/.idea/.gitignore
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/copyright/profiles_settings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
